<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>

<table cellspacing="0" cellpadding="0">
    <tr th:each="result:${resultList}">
            <td id="name" th:text="${result['name']}"></td>
            <td id="min" th:text="${result['min']}"></td>
            <td id="max" th:text="${result['max']}"></td>
            <td id="OR" th:text="${result['OR']}"></td>
    </tr>
</table>

</body>
<script th:src="@{/js/custom/select.js}"></script>
</html>